{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_messages.html' %}

        <div class="container">
            {% include 'partials/_navbar.html' %}
    
            <main>
                <section class="header-section">
                    <h1>SPIRAL OUT</h1>
                    <p>KEEP GOING KEEP GOING KEEP GOING KEEP GOING KEEP</p>
                    <a href="#">TOOL LATERALUS</a>
                </section>
    
                <section class="list-items-section">
                    <ul>
                        <li>
                            <img src="{% static 'img/item-world.png' %}">
                            <h2>Lorem ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor id felis ullamcorper viverra.</p>
                        </li>
                        <li>
                            <img src="{% static 'img/item-world.png' %}">
                            <h2>Lorem ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor id felis ullamcorper viverra.</p>
                        </li>
                        <li>
                            <img src="{% static 'img/item-world.png' %}">
                            <h2>Lorem ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut dolor id felis ullamcorper viverra.</p>
                        </li>
    
                    </ul>	
                </section>
            </main>
    
            <footer>
                
            </footer>
        </div>
    </body>
    </html>

{% endblock %}