{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_messages.html' %}

    <!DOCTYPE html>
    <html>
    <head>
        <title>Spiral</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <div class="topnav">	
                        <a href="#">Spiral</a>
                        <div class="topnav-right">	
                            <a href="#">Login</a>
                            <a href="#">Register</a>
                        </div>
                    </div>
                </nav>
            </header>
    
            <main>
                <section class="header-section">
                    <h1>SPIRAL OUT</h1>
                    <p>KEEP GOING KEEP GOING KEEP GOING KEEP GOING KEEP</p>
                    <a href="#">TOOL LATERALUS</a>
                </section>
    
                <section class="list-items-section">
                    <ul>
                        <li>
                            <img src="">
                            <h2> teste</h2>
                            <p>teste</p>
                        </li>
                        <li>
                            <img src="">
                            <h2> teste2</h2>
                            <p>teste2</p>
                        </li>
                        <li>
                            <img src="">
                            <h2> teste2</h2>
                            <p>teste2</p>
                        </li>
    
                    </ul>	
                </section>
            </main>
    
            <footer>
                
            </footer>
        </div>
    </body>
    </html>

{% endblock %}