{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_messages.html' %}

    {% include 'partials/_navbar.html' %}
    <form action="{% url 'user_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="photo">Profile picture</label>
            <input type="file" class="form-control" id="photo" name="photo">
          </div>
        <div class="form-group">
          <label for="description">Give us a brief description about you and your carrer</label>
          <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
          <label for="hability">List your habilities here</label>
          <input type="text" class="form-control" id="hability" name="hability">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    {% if user_details %}
    {% for detail in user_details %}
    <img src="{{ detail.photo.url }}" alt="oi">
    <h6>{{ detail.description }}</h6>
    <h6>oooooooooooooooooo</h6>
    {% endfor %}
    {% else %}
    <h6>nao carregou</h6>
    {% endif %}
</body>
</html>
{% endblock %}